/* body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
} */

/* code {
  font-size: 1.2em;
} */

/* ul {
  padding-inline-start: 20px;
} */

body {
  background-image: url(./images/background1.jpg);
  background-size: cover;
  font-family: 'New Super Mario Font U', sans-serif;
  font-family: 'Super Mario 256', sans-serif;
  /* background-position: 20px; */
}

h1 {
  text-align: center;
  font-family: 'New Super Mario Font U', sans-serif;
  font-family: 'Super Mario 256', sans-serif;
                                                
}
.titleFirstWord{
  color: #f81c03;
  
}
.titleSecondWord {
  color: #144bb0;
}
.titleThirdWord {
  color: #f3cc0a;
}

.game {
  display: flex;
  justify-content: center;
  max-width: 1500px;
}

.status {
  margin-top: 18px;
  margin-bottom: 12px;
  margin-left: 20%;
}

.game-board {
  /* border: 2px solid red; */
  width: 50%;
  margin-bottom: 40px;
}

.game-info {
  /* border: 2px solid blue; */
  width: 20%;
  margin-left: 5%;
  padding-top: 36px;
}

.game-info ol {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.status {
  color: #38912a;
}

.boardContainer {
  height:500px;
  width: 500px;
  /* border: 1px solid red; */
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}

.board-row {
  height: 33.33%;
  /* border: 1px solid green; */
  display: flex;
}

.square {
  flex: 1;
  /* background-image: url("./logo192.png"); */
  background-image: url("./images/questionBlock.webp");
  /* background-image: url("./images/redToad.png"); */
  background-size: cover;
  background-position: 55%;
}

.square:hover {
  animation-name: stretch;
animation-duration: 1s;
animation-timing-function: ease-out;
animation-direction: alternate;
animation-iteration-count: infinite;
animation-play-state: running;
}

@keyframes stretch {
0% {
    transform: scale(1.0);
}

100% {
    transform: scale(1.1);
} 
}

@keyframes stretch-victory {
  0% {
      transform: scale(1.0);
  }
  
  100% {
      transform: scale(1.5);
  } 
  }

.redToad {
  flex: 1;
  background-image: url("./images/redToad.png");
  background-size: cover;
  background-position: 50%;
}
.blueToad {
  flex: 1;
background-image: url("./images/blueToad.png");
background-size: cover;
  background-position: 50%;
  
}

.moveButton {
  padding: 12px 24px;
  border-radius:50%;
  background-color: #f3cc0a;
  border-color: red;
  border-width: 4px;
  font-family: 'New Super Mario Font U', sans-serif;
  font-family: 'Super Mario 256', sans-serif;
  
  color: #f2f2f2;
}

.moveButton:hover {
  /* background-color: blue; */
  background: linear-gradient(45deg, red, blue);
}

ol {
  list-style-type: none;
  
}
/* STRETCH STUFF
animation-name: stretch;
animation-duration: 2.0s;
animation-timing-function: ease-out;
animation-direction: alternate;
animation-iteration-count: infinite;
animation-play-state: running;
}

@keyframes stretch {
0% {
    transform: scale(.5);
    background-color: green;
    border-radius: 100%;
}

50% {
    background-color: orange;
}

100% {
    transform: scale(2.0);
    background-color: red;
} */

/* .square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
} */

.hidden {
  display: none;
}

.victoryAnimation {
  animation-name: stretch-victory;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

/* SCROLL TITLE */

.scroll-container {
overflow: hidden;
}

.scroll-text {
/* height: 100%;
text-align: center; */

/* animation properties */
-moz-transform: translateY(-100%);
-webkit-transform: translateY(-100%);
transform: translateY(-100%);

-moz-animation: my-animation 5s linear infinite;
-webkit-animation: my-animation 5s linear infinite;
animation: my-animation 5s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
from { -moz-transform: translateY(-100%); }
to { -moz-transform: translateY(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
from { -webkit-transform: translateY(-100%); }
to { -webkit-transform: translateY(100%); }
}

@keyframes my-animation {
from {
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
to {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
}
